.LoginPage{
    margin: 15px 10px;
    .titleLogin {
        padding-bottom: 20px;
        border-bottom: 1px solid #F5F5F5;
        a {
            color: var(--color-green);
            font-family: var(--font-quicksand);
            font-size: 14px;
            font-weight: 600;
            margin-right: 15px;
            &:hover {
                color: var(--color-heading);
            }
        }
        span {
            color: var(--color-heading);
            font-family: var(--font-quicksand);
            font-size: 14px;
            font-weight: 400;
        }
    }
    .LoginForm {
        margin-top: 50px;
        p{
            font-size: 40px;
            font-weight: 700;
            color: var(--color-heading);
            margin-bottom: 20px;
        }
        form {
            border: 1px solid #d3ced2;
            padding: 20px;
            label {
                font-family: var(--font-lato);
                font-size: 16px;
                font-weight: 400;
                color: #7e7e7e;
            }
            input:nth-of-type(1),input:nth-of-type(2) {
                width: 100%;
                border-radius: 10px;
                border: 1px solid #ececec;
                padding: 20px;
                margin-top: 10px;
            }
            button{
                color: white;
                font-weight: 700;
                font-size: 14px;
                padding: 15px 25px;
                background-color: #3BB77E;
                border-radius: 4px;
                margin: 20px 20px 20px 0;
                cursor: pointer;
                &:hover{
                    background-color: #fdc040;
                }
            }
            input[type=checkbox] {
                transform: scale(1.5);
                margin-right: 10px;
            }
            a{
                color: var(--color-green);
                font-size: 16px;
                font-weight: 400;
                font-family: var(--font-lato);
                &:hover{
                    color: var(--color-purple);
                }
            }
        }
    }
}